html, body{
    width: 100%;
    max-width: 100%;
}
body {
	height: 100vh;
	margin: 0;
    padding: 0;
    vertical-align: baseline;
	font-family: 'Arial', sans-serif;
	background-color: #fff;
}
.container {
	display: flex;
	padding: 0.3rem 0.5rem;
}
.header, .header-nav {
    background-color: #259BC1;
}
.header {
	position: relative;
	z-index: 10;
	width: 100%;
	justify-content: space-between;
	padding: 0;
	margin: 0;
	font-weight: normal;
	letter-spacing: 2px;
    line-height: 2;
    
}
.logo {
    text-decoration: none;
    font-size: 14px;
    color: #055E92;
    z-index: inherit;
}
.logo span{
    letter-spacing: 1px;
}
.logo-brand{
    padding:1rem;
    display: flex;
    width: 350px;
}
.logo-brand img{
    width:30px;
    margin-right: 10px;
}
.logo{
  padding: 0rem 6.5rem;
} 
.header-nav{
  padding: 0rem 8rem;
}
#filter-text{
  cursor: auto;
}
.header nav a:hover:not(#filter-text) {
    transition: 0.3s;
    background: rgba(255,255,255,.2);
    color:#fff;
    border-radius: 10%;
}
.header-nav {
    align-items: center;
}
.header-nav a {
    text-decoration: none;
    padding: 0.6rem;
    letter-spacing: 1px;
    font-size: 14px;
    color: #80C4DA;
    z-index: inherit;
}
.searchContainer {
    display: inline-flex;
    flex: 1 1 300px;
    position: relative;
    width: 300px;
    height: 40px;
    border: 1px solid #c4c4c4;
    border-radius: 5px;
    overflow: hidden;
  }
  
  .searchIcon {
    padding: 0.8rem;
    color: #c4c4c4;
    background: white;
  }
  
  .searchBox {
    border: 0;
    padding: 0.5rem;
    flex: 1;
  }
  
  .searchButton {
    background: #538AC5;
    border: 0;
    color: white;
    padding: 0.5rem;
    border-radius: 0;
  }
.container-inner{
    max-width: 1200px;
    margin: 0 auto;
    padding: 1rem 0;
}
.subnav{
    background-color: #f8f8f8;
}
.cta{float: right;}
.btn{
    background-color: #8CC63E;
    color: white;
    border:none;
    border-radius: 5px;
    font-size: 16px;
    height:40px;
    padding: 0px 27px;
}
.btn:hover{
    background-color: #fff;
    color: #8CC63E;
    border: 1px solid #8CC63E;
    transition: 0.3s;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border-bottom: 1px solid #C3C3C3;
    text-align: left;
    padding: 8px;
    font-weight: normal;
  }
  td{
      color: #353535;
  }
  td:nth-child(odd){
    color: #C3C3C3;
  }
  th{
      font-size: 14px;
      color: #C3C3C3;
  }
  
  @media all and (max-width: 1200px){
    .container-inner{
      padding: 1rem 8rem 1rem 6.5rem;
    }
  }
@media all and (max-width: 1024px) {
	.header {
		position: inherit;
	}
  .header, .header-nav {
    -webkit-flex-flow: wrap;
    flex-flow: wrap;
		align-content: center;
    padding: 0;
  }
  .logo-brand{
    width:100%;
  }
  .subnav .container-inner{
      display: grid;
  }
  .searchContainer{
    width: 100%;
  }
  .cta{
    order: -1;
    margin-bottom: 4%;
  }
  .cta .btn{
      float: right;
  }
  .container-inner{
      padding: 1rem;
  }
  .container.header{
      justify-content: center;
  }
}